<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
	<title>Currency Converter</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div id="app" :key="exg">
            <div id="exchange">
                <div class="row">
                    <div class="col">
		            	<h3>CURRENCY: {{ exg }}</h3>
			            <div>
                            <li v-for="rate, value in Object(data.rates)">
                                <a id="changeCurrency" v-on:click="clicked(value)">{{ value }}</a>: {{ rate }}
                            </li>
                        </div>
                    </div>
                    <div class="col-1">
                    </div>
                    <div class="col-7">
                        <h3>Exhange Calculator:</h3>
                        <input v-model="inputAmount" v-on:keyup="write(inputAmount)">
                        <select v-model="selectedFromCurrency">
                            <option v-for="rate, value in Object(data.rates)"  v-on:click="write(inputAmount)" :value="value" >
                                {{value}} 
                            </option>
                        </select>
                        <button type="button" id="buttonSwap" v-on:click="swap(selectedToCurrency, selectedFromCurrency)">Swap</button>
                        <select v-model="selectedToCurrency">
                            <option v-for="rate, value in Object(data.rates)"  v-on:click="write(inputAmount)" :value="value" >
                                {{value}} 
                            </option>
                        </select>
                        <input v-model="outputAmount" v-on:keyup="write(inputAmount)"> 
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="main.js"></script>
</body>
</html>