body {
    font-family: tahoma;
    color:#282828;
    margin: 0px;
    padding-top: 4px;
  }
  
div {
  background-color: #d8d8d8c7;
  margin-left: 2px;
}

#changeCurrency {
  color: #1E95EA;
  text-decoration-line: underline;
}

button {
    border: none;
    background-color: #1E95EA;
    color: white;
    height: 25px;
    width: 50px;
    font-size: 14px;
    text-decoration: none;
    border-radius:12px;
} 

#buttonSwap {
  border-radius:4px;
}

li {
  list-style-type: circle;
  margin: 0px;
}

.disabledButton {
  background-color: #d8d8d8;
}

.review-form {
  width: 400px;
  padding: 20px;
  margin: 40px;
  border: 1px solid #d8d8d8;
}

input {
  width: 100%;  
  height: 25px;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 60px;
}

input {
  width: 210px;
  height: 20px;
}

.tab {
  margin-left: 20px;
  cursor: pointer;
}

.activeTab {
  color: #16C0B0;
  text-decoration: underline;
}